<%# Content heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%# Message block %>
<%- messages() %>

<%# Error block %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<%# Register body %>
<div id="informationPanel">
  <section>
    <h2>Welcome <%- name %></h2>
    <a href="/account/edit/">Update Account information</a>
    <% if (accountType == "Employee" || accountType == "Admin") { %>
      <h3><a href="/inv/">Inventory Management</a></h3>
    <% } %>
  </section>
  <section class="colorBox">
    Did you know that all the cars in our inventory are 100% real?
  </section>
</div>