<%# Content heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%# Message block %>
<%- messages() %>

<%# Login body %>
<div id="informationPanel">
  <section class="colorBox">
    <form action="">
      <label for="account_email">Email:</label><br>
      <input type="email" id="account_email" name="account_email" required><br>
      <label for="account_password">Password:</label><br>
      <input type="password" name="account_password" id="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"><br>
      <input type="submit" value="Login">
    </form>
    <p>No account? <a href="/account/register">Register here</a></p>
  </section>
  <p class="colorBox">Password must be at least 12 characters and consist of at least one capital letter, number, and special character</p><br>
</div>
