<%# Content heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%# Message block %>
<%- messages() %>

<%# Login body %>
<section class="colorBox">
  <form action="">
    <label for="email">Email:</label><br>
    <input type="text" id="useremail" name="useremail"><br>
    <label for="password">Password:</label><br>
    <input type="password" name="userpass" id="userpass"><br>
    <input type="submit" value="Login">
  </form>
  <p>No account? <a href="/account/register">Register here</a></p>
</section>