
<%# Content heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%# Message block in case we need it later %>
<%# messages() %>

<%# Inventory items display %>
<%- grid %>